<%= link_to 'New Blog', new_blog_path %>

<br />

<% @blogs.each do |blog| %>
<article class='post'>
  <div class='date'>
    <%= link_to blog.created_at.to_formatted_s(:blog), blog %>
    <%= link_to 'Edit', edit_blog_path(blog) %> | <%= link_to 'Destroy', blog, confirm: 'Are you sure?', method: :delete %>
  </div>
  <h1><%= link_to blog.title, blog.link %></h1>
  <div class='content'>
    <%= blog.content %>
  </div>
</article>
<% end %>




